
services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_DB: secretsanta
      POSTGRES_USER: secretsanta
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  mailhog:
    image: mailhog/mailhog
    restart: unless-stopped
    ports:
      - "8025:8025"
      - "1025:1025"

  web:
    image: node:25-bookworm
    working_dir: /app
    command: npm run dev
    volumes:
      - node_modules:/app/node_modules
      - .:/app
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db

volumes:
  db_data:
  node_modules: