
services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_DB: secretsanta
      POSTGRES_USER: secretsanta
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  web:
    build: .
    restart: unless-stopped
    depends_on:
      - db
      - mailhog
    env_file:
      - .env
    ports:
      - "3000:3000"

volumes:
  db_data:
